* {
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}

h1, h3{
    text-align: center;
    color: #34568B;
    background-color: lightgrey;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

p,ul li,ol li{
    font-family: 'Courier New', Courier, monospace;
}

.bgcolor{
    background-color: blueviolet;
}
