*{
    background-color: lightcyan;
}
h1, h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(55, 55, 196);
    background-color: rgb(224, 155, 71);
}
h4{
    color: rgb(55, 55, 196);
}
div{
    font-family: 'Courier New', Courier, monospace;
}