* {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color: olivedrab;
    background-color: yellow;
}

div{
    text-align: center;
}

ul{
    display: table;
    margin: 0 auto;
    background-color: yellowgreen;
}

.recipe {
    font-size: 25px;
}

